.color-cls{
    background-color:#9c27b0 ;
    color:#fff;
}
.pull-right{
    right: 0 !important;
}
.example-spacer
{
  flex: 1 1 auto;
}
.example-space
{
  margin-right: 2%;
}
.cursor{
  cursor: pointer;
}