<mat-toolbar class="color-cls" style="position:relative; ">
    <span class="cursor" routerLink="/home">My Events</span>
    <span class="example-spacer"></span>
    <button class="pull-right btn btn-primary"  *ngIf="obUser" routerLink="/favourites">My Favourites</button>
    <span class="example-space"></span>
    <button class="pull-right btn btn-danger"  *ngIf="obUser" routerLink="/login" (click)="doLogout()">Logout</button>
  
    <button class="pull-right"  *ngIf="!obUser" routerLink="/login">Login</button>
  </mat-toolbar>