.pubg-image{
    height: 250px;
    width: 300px;
    
}
.card{
    margin:auto;
    margin-top: 10px;
      background: #ADA996;  
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 

    
}


.tournaments-display{
   
   margin-top: 80px !important;
    display: flex;
    
    flex-wrap: wrap;
    height: 100vh;

}
.middle{
    margin-left:45%;
}